* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

header {
  background-color: #e36d8a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 9;
}

header .titulo {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
  color: #fff;
}

header a {
  color: #fff;
}

#index main {
  height: calc(100vh - 69px);
  margin: 5em 5em;
  h1 {
    color: #fff;
  }
  section {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    flex-wrap: wrap;
    .card {
      width: 300px;
      padding: 0.8rem 0.8rem 0.3rem;
      .img-wrapper {
        height: 152px;
        overflow: hidden;
        display: flex;
        align-items: center;
      }
      a {
        background-color: #e36d8a;
        border-color: #e36d8a;
      }
    }
  }
}

#producto section,
.text-muted,
#producto h1 {
  color: #b84864 !important;
}

#producto section button {
  background-color: #e36d8a;
  border-color: #e36d8a;
}

#producto header a {
  text-decoration: none;
}

.bg-danger {
  border-radius: 8px;
  padding: 1rem;
  color: white;
  font-size: 1rem;
}
ul {
  padding-left: 0;
  margin-top: 30px;

  li {
    list-style: none;
    background-color: #b84864;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 5px 7px;
    img {
      width: 25px;
      cursor: pointer;
    }
  }
}
